@use './variables.scss' as *;

.more {
    background-color: $primary-color;

    & img {
        height: 3.5rem;
    }

    & span {
        font-size: 1rem;
    }
}

.more_content {
    height: 8rem;
    background-color: $black-color;
    color: $white-color;
}